* {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* header styling */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: dotted #E2E0DB 2px;
  background-color: #EEC560;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-title {
  margin: 1vw 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1vw;
}

.page-selection {
  font-weight: bolder;
  color: #416B8A;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.75vw;
}

h1 {
  font-weight: bolder;
}

.sign-in-img {
  width: 2vw;
  height: 2vw;
}

/* main body styling */
main {
  background-color: #F8F5EE;
}

h2 {
  font-size: 20px;
  padding-left: 1vw;
}

.grid-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1vw 1vw;
  place-items: stretch;
  padding: 2vw;
}

.grain-card {
  background-color: white;
  box-shadow: 2px 1px 4px #E2E0DB, -2px -1px 4px #E2E0DB;
}

.grain-card-header {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  border-bottom: dotted #E2E0DB 2px;
  height: 10vw;
}

.grain-header-img {
  background-color: white;
  padding: 0.25vw;
  border-radius: 0.5vw;
  opacity: 0.5;
}

.clarks-header {
  background-image: url('./assets/clarks.jpg');
}

.einkorn-header {
  background-image: url('./assets/einkorn.jpg');
}

.emmer-header {
  background-image: url('./assets/emmer.jpg');
}

.kamut-header {
  background-image: url('./assets/kamut.jpg');
}

.rouge-header {
  background-image: url('./assets/rouge.jpg');
}

.rye-header {
  background-image: url('./assets/rye.jpg');
}

.spelt-header {
  background-image: url('./assets/spelt.jpg');
}

.turkey-header {
  background-image: url('./assets/turkeyCo.jpg');
}

.grain-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1vw;
}

.grain-info {
  margin: 1vw 0;
}

h3 {
  font-size: 16px;
  font-weight: bolder;
}

h4,
.grain-recipe {
  font-size: 14px;
}

.grain-classification {
  font-size: 12px;
  color: #767B7F;
}

.grain-link {
  font-size: 12px;
  background-color: #F8F5EE;
  padding: 0.7vw;
}

.farmer-number {
  color: #416B8A;
  font-size: 30px;
  font-weight: bolder;
}

.grain-link,
.grain-recipe {
  color: black;
}

h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  width: 3vw;
  height: 3vw;
  margin: 1vw;
}

/* footer styling */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F5EE;
  padding-top: 2vw;
}

.note {
  font-size: 10px;
}

/* responsive media queries */
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .grid-container {
    gap: 2vw 1vw;
  }
}

@media screen and (min-width: 451px) and (max-width: 799px) {
  nav {
    flex-direction: column;
  }

  .grid-container {
    gap: 3vw 2vw;
  }
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
  }

  .sign-in-container {
    padding-right: 0;
  }

  .grid-container {
    gap: 3vw 2vw;
    place-items: center;
  }
}
